{
    "prtg": {
      "result": [
        {
          "channel": "Mail and Phones" ,
          "ValueLookup": "OxfordStatusLookup",
          "value": $.groups[0].status_code
        },
      ]
    }
  }